.App {
  text-align: center;
  margin: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  background-color: #f39c12;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.candy {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.buy-buttons button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.candy-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
